{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
    <h3> {{ title }} </h3>
    <div class="col-sm-12" align="center">
      <div id="video-container" class="row">
      </div>
    </div>
  {% for video in videos %}

    <div class="col-sm-12 video-links">{{ loop.index }}) {{ link(video.attributes.title, 'http://videoshare1dzprcm3ehs.devcloud.acquia-sites.com/view_video/' ~ video.id ) }}</div>

  {% endfor %}
  {% endblock %}
</section>

